/*selector unirvesal*/

*{
    margin: 0;
    padding: 0;
}


/*selector de etiqueta*/

body{
    background-color: rgb(233, 142, 186);
    color: rgb(255, 255, 255);
}




#encabezado{
    width: 90%;
    background-color:rgb(204, 85, 198);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}