body {
   background-color: rgb(184, 72, 115);
    color: aliceblue;
}


.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a870aa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    background-color:rgb(184, 72, 115);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

